{% extends '../base.html' %}
{% load static %}
{% load humanize %}
{% load crispy_forms_tags %}
{% block title %} Bank Details {% endblock title %}


{% block content %}

<div class="preloader bg-soft flex-column justify-content-center align-items-center"><img class="loader-element" src="{% static './assets/img/gv-logo2.png' %}" height="50" alt="Getvet logo" /></div>
<nav class="navbar navbar-dark navbar-theme-primary col-12 d-md-none">
    <a class="navbar-brand mr-lg-5" href="{% url 'home' %}">
        <img class="navbar-brand-dark" src="{% static './assets/img/gv-logo.png' %}" alt="Pixel logo" /> <img class="navbar-brand-light" src="{% static './assets/img/gv-logo2.png' %}" alt="Pixel Logo Dark" />
    </a>
    <div class="d-flex align-items-center">
        <button class="navbar-toggler d-md-none collapsed" type="button" data-toggle="collapse" data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</nav>
 <!-- Load message -->
 {% include '../includes/alerts.html' %}
<div class="container-fluid bg-soft">
    <div class="row">
        <div class="col-12">

             <!-- Load the navbar here -->
             {% include '../includes/doctor_nav.html' %}

             <main class="content">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
                    <div class="d-block mb-4 mb-md-0">
                        <nav aria-label="breadcrumb" class="d-none d-md-inline-block">
                            <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
                                <li class="breadcrumb-item">
                                    <a href="#"><span class="fas fa-home"></span></a>
                                </li>
                                <li class="breadcrumb-item"><a href="#">Getvet</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Bank Details</li>
                            </ol>
                        </nav>
                         {% comment %}
                        <h2 class="h4">Doctor Dashboard</h2>
                        <p class="mb-0">Your web analytics dashboard template.</p> {% endcomment %}
                    </div>
                    <div class="btn-toolbar mb-2 mb-md-0">
                        <a href="#" class="btn btn-sm btn-primary mr-2"><span class="fas fa-plus"></span> <span>Create Meeting</span></a>
                        <a href="{% url 'consultation_item' %}" class="btn btn-sm btn-primary"><span class="fas fa-user-md"></span> <span>My Services</span></a>
                        <div class="btn-group ml-3"><button type="button" class="btn btn-sm btn-outline-secondary"><a href="{% url 'dprofile' %}">My profile</a></button> <button type="button" class="btn btn-sm btn-outline-secondary"><a href="{% url 'edit_doctor_info_page' doctor.pk %}">Doctor info</a></button></div>
                    </div>
                </div>
                
                {% comment %} Content Card Here!! {% endcomment %}

                {% if banks %}

                

                <div class="col-10 mx-auto card card-body border-light shadow-sm table-wrapper table-responsive pt-0"> 
                   <div>
                    <a href="{% url 'add_bank' %}" class="btn btn-success btn-sm float-right m-1"><i class="fa fa-plus" aria-hidden="true"></i>Add Bank Details</a>
                   </div>

                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th class="border-0">#</th>
                                <th class="border-0">Bank Name</th>
                                <th class="border-0">Bank Account</th>
                                <th class="border-0">Account Name</th>
                                <th class="border-0">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            
                            {% for bank in banks %} 
                            <tr>
                                <td><a href="#" class="font-weight-bold">{{ forloop.counter }}</a></td>
                                <td><span class="font-weight-normal">{{ bank.bank_name}}</span></td>
                                <td><span class="font-weight-normal">{{ bank.account_number}}</span></td>
                                <td><span class="font-weight-normal">{{bank.account_name}}</span></td>
                                <td>
                                    <a href="{% url 'edit_bank' bank.id %}" style="color:unset;"><i class="fa fa-pencil" aria-hidden="true"></i></a> &nbsp; <a href="{% url 'delete_bank' bank.id %}" onclick="return confirm('Are you sure you want to delete this bank details?')"><i class="fa fa-trash text-danger" aria-hidden="true"></i></a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% else %}
                    <h5 class="text-center h6">No Bank Details yet.</h5>
                    <div class="text-center h6">
                        <a href="{% url 'add_bank' %}" class="btn btn-sm btn-success mx-auto"><span class="fas fa-plus mr-2"></span> <span>Add Bank Details</span></a>
                    </div>
                {% endif %}
                </div>
                
            </main>

        </div>
    </div>
</div>
{% endblock content %}