{% extends '../base.html' %}
{% load static %}

{% block title %}Doctor Dashboard{% endblock title %}


{% block content %}

<div class="preloader bg-soft flex-column justify-content-center align-items-center"><img class="loader-element" src="{% static './assets/img/gv-logo2.png' %}" height="50" alt="Getvet logo" /></div>
<nav class="navbar navbar-dark navbar-theme-primary col-12 d-md-none">
    <a class="navbar-brand mr-lg-5" href="{% url 'home' %}">
        <img class="navbar-brand-dark" src="{% static './assets/img/gv-logo.png' %}" alt="Pixel logo" /> <img class="navbar-brand-light" src="{% static './assets/img/gv-logo2.png' %}" alt="Pixel Logo Dark" />
    </a>
    <div class="d-flex align-items-center">
        <button class="navbar-toggler d-md-none collapsed" type="button" data-toggle="collapse" data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</nav>
 <!-- Load message -->
 {% include '../includes/alerts.html' %}
<div class="container-fluid bg-soft">
    <div class="row">
        <div class="col-12">

             <!-- Load the navbar here -->
             {% include '../includes/doctor_nav.html' %}
            
            <main class="content">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
                    <div class="d-block mb-4 mb-md-0">
                        <nav aria-label="breadcrumb" class="d-none d-md-inline-block">
                            <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
                                <li class="breadcrumb-item">
                                    <a href="#"><span class="fas fa-home"></span></a>
                                </li>
                                <li class="breadcrumb-item"><a href="#">GetVet</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Opening Hours</li>
                            </ol>
                        </nav>
                        {% comment %} <p class="mb-0">This is the Doctor Dashboard</p> {% endcomment %}
                    </div>
                    <div class="btn-toolbar mb-2 mb-md-0">
                        <a href="#" class="btn btn-sm btn-primary mr-2"><span class="fas fa-plus"></span> <span>New Meeting</span></a>
                        <a href="{% url 'consultation_item' %}" class="btn btn-sm btn-primary"><span class="fas fa-user-md"></span> <span>My Services</span></a>
                        <div class="btn-group ml-3"><button type="button" class="btn btn-sm btn-outline-secondary"><a href="{% url 'dprofile' %}">My profile</a></button> <button type="button" class="btn btn-sm btn-outline-secondary"><a href="{% url 'edit_doctor_info_page' doctor.pk %}">Doctor info</a></button></div>
                    </div>
                </div>
            
                <div class="col-9 mx-auto card card-body border-light shadow-sm table-wrapper table-responsive pt-0"> 
                   {% comment %} <div>
                    <a href="{% url 'add_item' %}" class="btn btn-success btn-sm float-right m-1"><i class="fa fa-plus" aria-hidden="true"></i>Add Service</a>
                   </div> {% endcomment %}
                  
                    <table class="table opening_hours table-hover">
                        <thead>
                            <tr>
                              
                                <th class="border-0">Day</th>
                                <th class="border-0">Duration</th>
                                <th class="border-0">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            
                            {% for hour in opening_hours %}
                            <tr id="hour-{{hour.id}}">
                                
                                <td><span class="font-weight-normal"><b>{{ hour }}</span></td>
                                <td><span class="font-weight-normal">{% if hour.is_offline %}Offline{% else %}{{ hour.from_hour }} - {{ hour.to_hour }}{% endif %}</span></td>
                                <td>
                                    <a href="#" class="remove_hour" data-url="{% url 'remove_opening_hours' hour.id %}"><i class="fa fa-trash text-danger" aria-hidden="true"></i></a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                    <br>

                    <form id="opening_hours">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-3">
                                {{ form.day }}
                            </div>
                            <div class="col-md-2">
                                {{ form.from_hour }}
                            </div>
                            <div class="col-md-2">
                                {{ form.to_hour }}
                            </div>
                            <div class="col-md-3">
                                {{ form.is_offline }} Set as Offline
                            </div>
                            <div class="col-md-2">
                                <input type="hidden" value="{% url 'add_opening_hours' %}" id="add_hour_url">
                                <button class="btn btn-success add_hour btn-sm">Add Hours</button>
                            </div>
                        </div>
                    </form>
                
                </div>

            </main>
        </div>
    </div>

{% endblock content %}