[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
python-decouple = "*"
psycopg2 = "*"
gunicorn = "*"
whitenoise = "*"
pillow = "*"
django-jazzmin = "*"
django-multiselectfield = "*"
django-crispy-forms = "*"
crispy-bootstrap5 = "*"
django-taggit = "*"
django-comments-xtd = "*"
django-ckeditor-5 = "*"
easy-thumbnails = "*"
django-social-share = "*"

[dev-packages]

[requires]
python_version = "3.10"
