[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==3.2"
python-decouple = "*"
psycopg2 = "*"
gunicorn = "*"
pillow = "*"
django-jazzmin = "*"
django-multiselectfield = "*"
django-crispy-forms = "*"
crispy-bootstrap5 = "*"
django-taggit = "*"
django-comments-xtd = "*"
django-ckeditor-5 = "*"
easy-thumbnails = "*"
django-social-share = "*"
django-jet-reboot = "*"
django-smart-selects = "*"
python-dateutil = "*"
simplejson = "*"
requests = "*"
pyjwt = "*"
celery = "*"
django-celery-results = "*"
redis = "*"
django-celery-beat = "*"
django-extensions = "*"
channels-redis = "*"
channels = {extras = ["daphne"], version = "*"}
attrs = "*"
dj-database-url = "*"
django-imagekit = "*"
cloudinary = "*"
django-cloudinary-storage = "*"

[dev-packages]

[requires]
python_version = "3.10"
