{% extends '../base.html' %}
{% load static %}
{% load humanize %}

{% block title %}Customer Dashboard{% endblock title %}


{% block content %}

<nav class="navbar navbar-dark navbar-theme-primary col-12 d-md-none">
    <a class="navbar-brand mr-lg-5" href="../../index.html">
        <img class="navbar-brand-dark" src="../../assets/img/brand/light.svg" alt="Pixel logo" /> <img class="navbar-brand-light" src="../../assets/img/brand/dark.svg" alt="Pixel Logo Dark" />
    </a>
    <div class="d-flex align-items-center">
        <button class="navbar-toggler d-md-none collapsed" type="button" data-toggle="collapse" data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</nav>
 <!-- Load message -->
 {% include '../includes/alerts.html' %}
<div class="container-fluid bg-soft">
    <div class="row">
        <div class="col-12">
              
             <!-- Load the navbar here -->
             {% include '../includes/customer_nav.html' %}
            

            <main class="content">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
                    <div class="d-block mb-4 mb-md-0">
                        <nav aria-label="breadcrumb" class="d-none d-md-inline-block">
                            <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
                                <li class="breadcrumb-item">
                                    <a href="#"><span class="fas fa-home"></span></a>
                                </li>
                                <li class="breadcrumb-item"><a href="#">GetVet</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
                            </ol>
                        </nav>
                        <h2 class="h5">Customer Dashboard</h2>
                        {% comment %} <p class="mb-0">This is the Doctor Dashboard</p> {% endcomment %}
                    </div>
                    <div class="btn-toolbar mb-2 mb-md-0">
                        <a href="{% url 'add_animal' %}" class="btn btn-sm btn-primary"><span class="fas fa-plus mr-2"></span> <span>Vaccine Tracker </span></a>
                        <a href="{% url 'marketplace' %}" class="btn btn-sm btn-secondary ml-3"><span class="fas fa-search mr-2"></span> <span>Find Doctors</span></a>
                        {% comment %} <div class="btn-group ml-3"><button type="button" class="btn btn-sm btn-outline-secondary"><a href="{% url 'cprofile' %}">Update profile</a></button></div> {% endcomment %}

                        <a href="{% url 'cart' %}" class=" ml-3">
                        <i class="fas fa-shopping-cart sidebar-icon text-danger mt-2" style="font-size: 25px;"></i>
                        <span class="badge badge-primary" id="cart_counter" style="border-radius: 100px; position: relative; bottom:15px; left: -5px;">{{ cart_count }}</span>
                        </a>
                         <!-- Notification Bell Icon -->
                        <div class="dropdown ml-3">
                        <a class="dropdown-toggle " href="#" role="button" id="notificationDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                            <span class="fas fa-bell mt-2" style="font-size: 25px;"></span>
                            <span class="badge badge-danger" style="border-radius: 100px; position: relative; bottom:15px; left: -5px;" id="notification-badge"> {{latest_notifications.count}}</span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="notificationDropdown" id="notifications-dropdown">
                       
                        {% for i in cusnotifications %}
                        <li><a class="dropdown-item" href="#">{{i.message}}</a></li>
                        <hr class="dropdown-divider">

                        {% empty %}
                        <li><a class="dropdown-item" href="#"></a></li>
                        <hr class="dropdown-divider">
                        {% endfor %}

                        </ul>
                        </div>
                        <!-- End of Notification Bell Icon -->
                    </div>
                </div>
                {% comment %} Content Card Here!! {% endcomment %}
                <div class="row justify-content-md-center">
                    <div class="col-12 col-sm-6 col-xl-4 mb-4">
                        <div class="card border-light shadow-sm">
                            <div class="card-body">
                                <div class="row d-block d-xl-flex align-items-center">
                                    <div class="col-12 col-xl-5 text-xl-center mb-3 mb-xl-0 d-flex align-items-center justify-content-xl-center">
                                        <div class="icon icon-shape icon-md icon-shape-primary rounded mr-4 mr-sm-0"><span class="fas fa-chart-line"></span></div>
                                        <div class="d-sm-none">
                                            <h2 class="h5">Total Payments</h2>
                                            {% if total_sum_payment%}
                                            <h3 class="mb-1"> &#8358;{{total_sum_payment|floatformat:0|intcomma}}</h3>
                                            {%else%}
                                             <h3 class="mb-1"> &#8358;0</h3>
                                            {%endif%}
                                        </div>
                                    </div>
                                    <div class="col-12 col-xl-7 px-xl-0">
                                        <div class="d-none d-sm-block">
                                            <h2 class="h5">Total Payments</h2>
                                            {% if total_sum_payment%}
                                            <h4 class="mb-1"> &#8358;{{total_sum_payment|floatformat:0|intcomma}}</h4>

                                             {%else%}
                                             <h3 class="mb-1"> &#8358;0</h3>
                                            {%endif%}
                                        </div>
                                        {% comment %} <small>
                                            Feb 1 - Apr 1, <span class="icon icon-small"><span class="fas fa-globe-europe"></span></span> WorldWide
                                        </small>
                                        <div class="small mt-2"><span class="fas fa-angle-up text-success"></span> <span class="text-success font-weight-bold">18.2%</span> Since last month</div> {% endcomment %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-xl-4 mb-4">
                        <div class="card border-light shadow-sm">
                            <div class="card-body">
                                <div class="row d-block d-xl-flex align-items-center">
                                    <div class="col-12 col-xl-5 text-xl-center mb-3 mb-xl-0 d-flex align-items-center justify-content-xl-center">
                                        <div class="icon icon-shape icon-md icon-shape-tertiary rounded mr-4"><span class="fas fa-dog"></span></div>
                                        <div class="d-sm-none">
                                            <h2 class="h5">Total Animal</h2>
                                            {% if animal_count%}
                                            <h4 class="mb-1">{{ animal_count}}</h4>

                                            {%else%}
                                            <h4 class="mb-1">0</h4>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="col-12 col-xl-7 px-xl-0">
                                        <div class="d-none d-sm-block">
                                            <h2 class="h5">Total Animal</h2>
                                             {% if animal_count%}
                                            <h4 class="mb-1">{{ animal_count}}</h4>
                                            {%else%}
                                            <h4 class="mb-1">0</h4>
                                            {% endif %}
                                        </div> 
                                        {% comment %}
                                        <small>
                                            Feb 1 - Apr 1, <span class="icon icon-small"><span class="fas fa-globe-europe"></span></span> Worldwide
                                        </small>
                                        <div class="small mt-2"><span class="fas fa-angle-up text-success"></span> <span class="text-success font-weight-bold">28.2%</span> Since last month</div> {% endcomment %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-xl-4 mb-4">
                        <div class="card border-light shadow-sm">
                            <div class="card-body">
                                <div class="row d-block d-xl-flex align-items-center">
                                    <div class="col-12 col-xl-5 text-xl-center mb-3 mb-xl-0 d-flex align-items-center justify-content-xl-center">
                                        <div class="icon icon-shape icon-md icon-shape-tertiary rounded mr-4"><span class="fas fa-users"></span></div>
                                        <div class="d-sm-none">
                                            <h2 class="h5">Appointments</h2>
                                            {% if appointment_count%}
                                            <h4 class="mb-1">{{appointment_count}}</h4>
                                            {% else %}
                                            <h4 class="mb-1">0</h4>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="col-12 col-xl-7 px-xl-0">
                                        <div class="d-none d-sm-block">
                                            <h2 class="h5">Appointments</h2>
                                             {% if appointment_count%}
                                            <h4 class="mb-1">{{appointment_count}}</h4>
                                             {% else %}
                                            <h4 class="mb-1">0</h4>
                                            {% endif %}
                                        </div> 
                                        {% comment %}
                                        <small>
                                            Feb 1 - Apr 1, <span class="icon icon-small"><span class="fas fa-globe-europe"></span></span> Worldwide
                                        </small>
                                        <div class="small mt-2"><span class="fas fa-angle-up text-success"></span> <span class="text-success font-weight-bold">28.2%</span> Since last month</div> {% endcomment %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                   
                </div>
            </main>

        </div>
    </div>
     {% comment %} Channels Websocket Script {% endcomment %}

    {{ room_name|json_script:"room-name" }}
    <script>
        const roomName = JSON.parse(document.getElementById('room-name').textContent);
        const ws_scheme = window.location.protocol == "https:" ? "wss" : "ws";
        const notificationSocket = new WebSocket(
            ws_scheme + '://'
            + window.location.host
            + '/ws/notification/'
            + roomName
            + '/'
        );

        notificationSocket.onmessage = function(e) {
           const data = JSON.parse(e.data);
            //document.querySelector('#chat-log').value += (data.message + '\n');
            //const myValue = data.data.value
            //const split_string = myValue.split(" ")
            //console.log(split_string)
            //console.log(typeof myValue)
            const notifier= data.data.message
            console.log(notifier)
            //document.getElementById('price').innerText = myValue;
            document.getElementById("notifications-dropdown").innerHTML = "<li class='dropdown-item'>" + notifier + "</li><hr class='dropdown-divider'>" + document.getElementById("notifications-dropdown").innerHTML;
            document.getElementById("notification-badge").innerHTML = parseInt(document.getElementById("notification-badge").innerHTML) + 1;
        };

        notificationSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };

      

       
    </script>
{% endblock content %}

     