{% extends '../base.html' %}
{% load static %}

{% block title %}Customer Dashboard{% endblock title %}


{% block content %}

<div class="preloader bg-soft flex-column justify-content-center align-items-center"><img class="loader-element" src="{% static './assets/img/gv-logo2.png' %}" height="50" alt="Getvet logo" /></div>
<nav class="navbar navbar-dark navbar-theme-primary col-12 d-md-none">
    <a class="navbar-brand mr-lg-5" href="../../index.html">
        <img class="navbar-brand-dark" src="../../assets/img/brand/light.svg" alt="Pixel logo" /> <img class="navbar-brand-light" src="../../assets/img/brand/dark.svg" alt="Pixel Logo Dark" />
    </a>
    <div class="d-flex align-items-center">
        <button class="navbar-toggler d-md-none collapsed" type="button" data-toggle="collapse" data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</nav>
 <!-- Load message -->
 {% include '../includes/alerts.html' %}
<div class="container-fluid bg-soft">
    <div class="row">
        <div class="col-12">
              
             <!-- Load the navbar here -->
             {% include '../includes/customer_nav.html' %}

            <main class="content">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
                    <div class="d-block mb-4 mb-md-0">
                        <nav aria-label="breadcrumb" class="d-none d-md-inline-block">
                            <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
                                <li class="breadcrumb-item">
                                    <a href="#"><span class="fas fa-home"></span></a>
                                </li>
                                <li class="breadcrumb-item"><a href="#">GetVet</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
                            </ol>
                        </nav>
                        <h2 class="h5">Customer Dashboard</h2>
                        {% comment %} <p class="mb-0">This is the Doctor Dashboard</p> {% endcomment %}
                    </div>
                    <div class="btn-toolbar mb-2 mb-md-0">
                        <a href="{% url 'consultation_item' %}" class="btn btn-sm btn-primary"><span class="fas fa-plus mr-2"></span> <span>Add Pet / Livestock</span></a>
                        <a href="{% url 'marketplace' %}" class="btn btn-sm btn-secondary ml-3"><span class="fas fa-search mr-2"></span> <span>Find Doctors</span></a>
                        <div class="btn-group ml-3"><button type="button" class="btn btn-sm btn-outline-secondary"><a href="#">Update profile</a></button></div>
                    </div>
                </div>
                {% comment %} Content Card Here!! {% endcomment %}
                <div class="row justify-content-md-center">
                    <div class="col-12 col-sm-6 col-xl-4 mb-4">
                        <div class="card border-light shadow-sm">
                            <div class="card-body">
                                <div class="row d-block d-xl-flex align-items-center">
                                    <div class="col-12 col-xl-5 text-xl-center mb-3 mb-xl-0 d-flex align-items-center justify-content-xl-center">
                                        <div class="icon icon-shape icon-md icon-shape-primary rounded mr-4 mr-sm-0"><span class="fas fa-chart-line"></span></div>
                                        <div class="d-sm-none">
                                            <h2 class="h5">Total Visits</h2>
                                            <h3 class="mb-1">345,678</h3>
                                        </div>
                                    </div>
                                    <div class="col-12 col-xl-7 px-xl-0">
                                        <div class="d-none d-sm-block">
                                            <h2 class="h5">Total Visits</h2>
                                            <h3 class="mb-1">345,678</h3>
                                        </div>
                                        <small>
                                            Feb 1 - Apr 1, <span class="icon icon-small"><span class="fas fa-globe-europe"></span></span> WorldWide
                                        </small>
                                        <div class="small mt-2"><span class="fas fa-angle-up text-success"></span> <span class="text-success font-weight-bold">18.2%</span> Since last month</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-xl-4 mb-4">
                        <div class="card border-light shadow-sm">
                            <div class="card-body">
                                <div class="row d-block d-xl-flex align-items-center">
                                    <div class="col-12 col-xl-5 text-xl-center mb-3 mb-xl-0 d-flex align-items-center justify-content-xl-center">
                                        <div class="icon icon-shape icon-md icon-shape-tertiary rounded mr-4"><span class="fas fa-users"></span></div>
                                        <div class="d-sm-none">
                                            <h2 class="h5">New Users</h2>
                                            <h3 class="mb-1">5,342</h3>
                                        </div>
                                    </div>
                                    <div class="col-12 col-xl-7 px-xl-0">
                                        <div class="d-none d-sm-block">
                                            <h2 class="h5">New Users</h2>
                                            <h3 class="mb-1">5,342</h3>
                                        </div>
                                        <small>
                                            Feb 1 - Apr 1, <span class="icon icon-small"><span class="fas fa-globe-europe"></span></span> Worldwide
                                        </small>
                                        <div class="small mt-2"><span class="fas fa-angle-up text-success"></span> <span class="text-success font-weight-bold">28.2%</span> Since last month</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-xl-4 mb-4">
                        <div class="card border-light shadow-sm">
                            <div class="card-body">
                                <div class="row d-block d-xl-flex align-items-center">
                                    <div class="col-12 col-xl-5 text-xl-center mb-3 mb-xl-0 d-flex align-items-center justify-content-xl-center"><div class="ct-chart-traffic-share ct-golden-section ct-series-a"></div></div>
                                    <div class="col-12 col-xl-7 px-xl-0">
                                        <h2 class="h5">Traffic Share</h2>
                                        <div class="mb-3 small">
                                            Feb 1 - Apr 1, <span class="icon icon-small"><span class="fas fa-globe-europe"></span></span> Worldwide
                                        </div>
                                        <h6 class="font-weight-normal text-gray">
                                            <span class="icon w-20 icon-xs icon-secondary mr-1"><span class="fas fa-desktop"></span></span> Desktop <a href="#" class="h6">70%</a>
                                        </h6>
                                        <h6 class="font-weight-normal text-gray">
                                            <span class="icon w-20 icon-xs icon-primary mr-1"><span class="fas fa-mobile-alt"></span></span> Mobile Web <a href="#" class="h6">30%</a>
                                        </h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-xl-4 mb-4">
                        <div class="card border-light shadow-sm">
                            <div class="card-body d-flex flex-row align-items-center flex-0 border-bottom">
                                <div class="d-block">
                                    <div class="h6 font-weight-normal text-gray mb-2">App Ranking</div>
                                    <h2 class="h3">452</h2>
                                    <div class="small mt-2"><span class="fas fa-angle-up text-success"></span> <span class="text-success font-weight-bold">18.2%</span></div>
                                </div>
                                <div class="d-block ml-auto">
                                    <div class="d-flex align-items-center text-right mb-2"><span class="shape-xs rounded-circle bg-primary mr-2"></span> <span class="font-weight-normal small">All</span></div>
                                    <div class="d-flex align-items-center text-right"><span class="shape-xs rounded-circle bg-secondary mr-2"></span> <span class="font-weight-normal small">Widgets</span></div>
                                </div>
                            </div>
                            <div class="card-body p-2"><div class="ct-chart-ranking ct-golden-section ct-series-a"></div></div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 col-xl-4 mb-4">
                        <div class="card border-light shadow-sm">
                            <div class="card-body d-flex flex-row align-items-center flex-0 border-bottom">
                                <div class="d-block">
                                    <div class="h6 font-weight-normal text-gray mb-2">Traffic by Source</div>
                                    <h2 class="h4">Google</h2>
                                    <div class="small mt-2"><span class="fas fa-angle-up text-success"></span> <span class="text-success font-weight-bold">10.57%</span></div>
                                </div>
                                <div class="d-block ml-auto">
                                    <div class="d-flex align-items-center text-right mb-2"><span class="shape-xs rounded-circle bg-primary mr-2"></span> <span class="font-weight-normal small">Google</span></div>
                                    <div class="d-flex align-items-center text-right mb-2"><span class="shape-xs rounded-circle bg-secondary mr-2"></span> <span class="font-weight-normal small">Yahoo</span></div>
                                    <div class="d-flex align-items-center text-right mb-2"><span class="shape-xs rounded-circle bg-tertiary mr-2"></span> <span class="font-weight-normal small">Yandex</span></div>
                                </div>
                            </div>
                            <div class="card-body p-2"><div class="ct-chart-traffic-source ct-golden-section ct-series-a"></div></div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 col-xl-4 mb-4">
                        <div class="card border-light shadow-sm">
                            <div class="card-body d-flex flex-row align-items-center flex-0 border-bottom">
                                <div class="d-block">
                                    <div class="h6 font-weight-normal text-gray mb-2">Organic vs Paid Search</div>
                                    <h2 class="h4">Trafic Distibution</h2>
                                    <div class="small mt-2"><span class="fas fa-angle-up text-success"></span> <span class="text-success font-weight-bold">$10.57%</span></div>
                                </div>
                                <div class="d-block ml-auto">
                                    <div class="d-flex align-items-center text-right mb-2"><span class="shape-xs rounded-circle bg-secondary mr-2"></span> <span class="font-weight-normal small">Organic</span></div>
                                    <div class="d-flex align-items-center text-right mb-2"><span class="shape-xs rounded-circle bg-tertiary mr-2"></span> <span class="font-weight-normal small">Direct</span></div>
                                    <div class="d-flex align-items-center text-right mb-2"><span class="shape-xs rounded-circle bg-primary mr-2"></span> <span class="font-weight-normal small">Paid</span></div>
                                </div>
                            </div>
                            <div class="card-body p-2"><div class="ct-chart-distribution ct-golden-section ct-series-a"></div></div>
                        </div>
                    </div>
                </div>
            </main>

        </div>
    </div>

{% endblock content %}