{% extends '../base.html' %}
{% load static %}

{% block title %}Doctor Dashboard{% endblock title %}


{% block content %}

{% comment %} <div class="preloader bg-soft flex-column justify-content-center align-items-center"><img class="loader-element" src="{% static './assets/img/gv-logo2.png' %}" height="50" alt="Getvet logo" /></div> {% endcomment %}
<nav class="navbar navbar-dark navbar-theme-primary col-12 d-md-none">
    <a class="navbar-brand mr-lg-5" href="{% url 'home' %}">
        <img class="navbar-brand-dark" src="{% static './assets/img/gv-logo.png' %}" alt="Pixel logo" /> <img class="navbar-brand-light" src="{% static './assets/img/gv-logo2.png' %}" alt="Pixel Logo Dark" />
    </a>
    <div class="d-flex align-items-center">
        <button class="navbar-toggler d-md-none collapsed" type="button" data-toggle="collapse" data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</nav>
 <!-- Load message -->
 {% include '../includes/alerts.html' %}
<div class="container-fluid bg-soft">
    <div class="row">
        <div class="col-12">

             <!-- Load the navbar here -->
             {% include '../includes/doctor_nav.html' %}
            
            <main class="content">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
                    <div class="d-block mb-4 mb-md-0">
                        <nav aria-label="breadcrumb" class="d-none d-md-inline-block">
                            <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
                                <li class="breadcrumb-item">
                                    <a href="#"><span class="fas fa-home"></span></a>
                                </li>
                                <li class="breadcrumb-item"><a href="#">GetVet</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
                            </ol>
                        </nav>
                        <h2 class="h5">Doctor Dashboard</h2>
                        {% comment %} <p class="mb-0">This is the Doctor Dashboard</p> {% endcomment %}
                    </div>
                    <div class="btn-toolbar mb-2 mb-md-0">
                        <a href="#" class="btn btn-sm btn-primary mr-2"><span class="fas fa-plus"></span> <span>New Meeting</span></a>
                        <a href="{% url 'consultation_item' %}" class="btn btn-sm btn-primary"><span class="fas fa-user-md"></span> <span>My Services</span></a>
                        <div class="btn-group ml-3"><button type="button" class="btn btn-sm btn-outline-secondary"><a href="{% url 'dprofile' %}">My profile</a></button> <button type="button" class="btn btn-sm btn-outline-secondary"><a href="{% url 'edit_doctor_info_page' doctor.pk %}">Doctor info</a></button></div>
                    </div>
                </div>
                
            </main>
        </div>
    </div>

{% endblock content %}