{% extends '../base.html' %}
{% load static %}

{% block title %}Register User{% endblock title %}


{% block content %}

<main>
    <div class="preloader bg-soft flex-column justify-content-center align-items-center"><img class="loader-element" src="{% static './assets/img/gv-logo2.png' %}" height="50" alt="Getvet logo" /></div>
    <section class="vh-200 d-flex align-items-center section-image overlay-soft-dark" data-background="{% static './assets/img/blog/image-4.jpg' %}"> 
        <div class="container"> 
            <div class="row justify-content-center">
                <div class="col-12 d-flex align-items-center justify-content-center">
                    <div class="signin-inner mt-3 mt-lg-0 bg-white shadow-soft border border-light rounded p-4 p-lg-5 w-100 fmxw-500">
                        <div class="text-center text-md-center mb-4 mt-md-0"><h1 class="font-weight-bold h5 mb-3">Doctor SignUp</h1></div>
                        <form method="post" action="{% url 'registerDoctor'%}">
                            {% csrf_token %}
                             <!-- Load message -->
                            {% include '../includes/alerts.html' %}
                            {% if form.errors %}
                                <div class="alert alert-danger" role="alert">
                                    {% for field in form %}
                                        {% for error in field.errors %}
                                            {{ error }}
                                        {% endfor %}
                                    {% endfor %}
                                </div>
                               
                            {% endif %}
                            
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="far fa-user"></i></span>
                                    </div>
                                   {% comment %}  <input type="email" class="form-control" id="input-email" placeholder="Enter email" required /> {% endcomment %}
                                   
                                    {{form.first_name}}
                              
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="far fa-user"></i></span>
                                    </div>
                                   {% comment %}  <input type="email" class="form-control" id="input-email" placeholder="Enter email" required /> {% endcomment %}
                                   {{ form.last_name }}
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-user-alt"></i></span>
                                    </div>
                                   {% comment %}  <input type="email" class="form-control" id="input-email" placeholder="Enter email" required /> {% endcomment %}
                                   {{ form.username }}
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                                    </div>
                                   {{ form.email }}
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-award"></i></span>
                                    </div>
                                   {{ d_form.vcn_number }}
                                </div>
                            </div>
                            
                          {% comment %} <div class="form-group">
                                <div> <label>Select Specialty</label></div>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"></i></span>  
                                    </div>
                                  
                                   {{ d_form.specialty}}
                                </div>
                            </div> {% endcomment %}

                            
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-map-marker-alt"></i></span>
                                    </div>
                                   {{ d_form.state_of_practice}}
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-unlock-alt"></i></span>
                                    </div> 
                                    {{form.password}}
                                </div>
                               
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-unlock-alt"></i></span>
                                    </div>
                                    {{form.confirm_password}}
                                </div>
                            </div>
                            <div class="mt-3"><button type="submit" class="btn btn-block btn-primary">Register</button></div>
                        </form>
                        {% comment %} <div class="mt-3 mb-4 text-center"><span class="font-weight-normal">or</span></div> {% endcomment %}
                        
                        <div class="d-block d-sm-flex justify-content-center align-items-center mt-4">
                            <span class="font-weight-normal">Already have an account? <a href="{% url 'login' %}" class="font-weight-bold">Login here</a></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

{% endblock content %}

