{% extends '../base.html' %}
{% load static %}
{% load humanize %}
{% block title %}About{% endblock title %}

 <!-- LOAD HEADER HERE -->
 {% block header %}

 {% include '../includes/header.html' %}

 {% endblock header %}

{% block content %}


<main>
    
    <section class="section-header pb-5 pb-lg-6 mb-4 mb-lg-6 bg-primary text-white">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 text-center mb-4 mb-lg-5">
                    
                     <h1 class="display-3 font-weight-extreme mb-4">Dr. {{doctor.user_profile }}</h1>
                     {% if doctor.user_profile.profile_picture %}
                    {% load thumbnail %}
                    <div class="xl-avatar mx-auto mb-3 mb-lg-3"><img class="rounded" src="{% thumbnail doctor.user_profile.profile_picture 200x200 crop %}" alt="avatar" /></div>
                    {% else %}   
                 
                    <div class="xl-avatar mx-auto mb-3 mb-lg-3"><img class="rounded" src="{% static './assets/img/default_profile_pic.png' %}" alt="avatar" /></div>
                    {% endif %}
                    <div class="d-flex flex-column flex-lg-row justify-content-center">
                        <span class="h5 mb-3 mb-lg-0"><i class="fas fa-map-marker-alt"></i><span class="ml-3"> {{doctor.state_of_practice }}</span></span>
                       
                        {% if not doctor.experience %}
                        <span class="ml-3"> N/A </span>
                         {% else %}
                        <span class="ml-lg-5 mb-3 mb-lg-0 h5"><i class="fas fa-user-tie"></i>
                        <span class="ml-3"> {{doctor.experience}}</span>
                        {%endif%}</span>
                       <span class="ml-lg-5 mb-3 mb-lg-0 h5"><i class="fas fa-file-invoice-dollar"></i><span class="ml-3">&#8358; 2,000 - &#8358;10,000/ 30mins</span></span> 
                    </div>
                    <div>
                    {% for specialty in doctor.specialty.all%}
                    <span class="badge badge-pill badge-secondary mt-3 p-2">{{specialty}}</span>
                    {% endfor %}
                    </div>
                </div>
                
                <div class="col col-12 text-center">
                    <a href="{% url 'chatRoom' doctor.doctor_slug %}" class="btn btn-secondary text-white animate-up-2 mr-3"><i class="fas fa-arrow-right mr-2"></i>Chat with Doctor</a>
                   {% comment %} <a href="#apply" class="btn btn-white text-primary animate-up-2"><i class="fas fa-clipboard-list mr-2"></i>Apply Now</a>  {% endcomment %}
                </div>
              
            </div>
        </div>
       
    </section>
    
    <section class="section section-lg pt-5">
    <div class="container">
    <div class="row">
        <div class="col-12 col-xl-7 mb-4 ">
            <div class="row">
                <div class="col-12 mb-4">
                    <div class="card border-light shadow-sm">
                        <div class="card-body d-flex flex-row align-items-center flex-0 border-bottom">
                            <div class="d-block">
                                <div class="h6 font-weight-normal text-gray mb-2">Consultation Services</div>
                                {% comment %}
                                 <h2 class="h3">10,567</h2>
                                 <div class="small mt-2"><span class="fas fa-angle-up text-success"></span> <span class="text-success font-weight-bold">$10.57%</span></div>
                                 {% endcomment %}
                            </div>
                        </div>
                        
                        <div class="row">
                        
                            {% for item in consultationItems %} 
                            <div class="col-12 mb-4">
                                <div class="card bg-white">
                                    <div class="card-body p-3 p-lg-4">
                                        <div class="row">
                                            <div class="col-12 col-md-6 mb-3 mb-lg-0">
                                                <h6 class="mb-2">{{item.type}}</h6>
                                                <p class="text-gray mb-2">{{item.description}}</p>
                                                <div class="d-flex">
                                                    <a href="./career-single.html" class="stretched-link"><i class="fas fa-file-invoice-dollar"></i><span class="h6 text-sm ml-2">&#8358; {{item.fee|intcomma}}/ 30mins</span></a>
                                                </div>
                                            </div>
                                        
                                            <div class="col-12 col-md-6 d-flex align-items-center justify-content-md-end" id="consultationItem">
                                                <a href="#" class="mr-3 animate-up-2 m-0 btn btn-secondary mr-3 btn-sm decrease_cart" data-id="{{ item.consultationitem.id }}" data-url="{% url 'decrease_cart' item.id %}"><i class="fa fa-minus mr-1 "></i>Remove</a>
            
            
                                                 <a href="#" class=" animate-up-2 m-0 btn btn-primary mr-3 btn-sm add_to_cart" data-id="{{ item.consultationitem.id }}" data-url="{% url 'add_to_cart' item.id %}"><i class="fa fa-plus mr-1"></i>Book</a>

                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% empty%}
                            <div class="text-center p-5">
                                <h6>Sorry no services!</h6>
                            </div>
                            {% endfor %}
                        </div>

                       
                    </div>
                </div>

            </div>
        </div>
        {% if opening_hours %}
        <div class="col-12 col-xl-4 mb-4">
            <div class="col-12 px-0 mb-4">
                <div class="card border-light shadow-sm">
                    <div class="card-body">
                        <div class="d-block">
                            <div class="h6 font-weight-normal text-gray mb-2 border-bottom">Available Hours (WAT)</div>
                            {% comment %}
                             <h2 class="h3">10,567</h2>
                             <div class="small mt-2"><span class="fas fa-angle-up text-success"></span> <span class="text-success font-weight-bold">$10.57%</span></div>
                             {% endcomment %}
                        </div>
                        <div class="d-flex align-items-center justify-content-between border-bottom border-light pb-3">
                            <div>
                                <h6 class="mb-0">
                                    <span class="icon icon-xs mr-3"></span>TODAY:
                                </h6>
                            </div>
                            <div>
                                {% for i in current_opening_hours %}
                                <a href="#" class="text-primary font-weight-bold">
                                <span>{% if i.is_closed %}Closed{% else %}{{ i.from_hour }} - {{ i.to_hour }}{% endif %}</span>
                                {% endfor %}</a>

                            </div>

                        </div>
                        {% for hour in opening_hours %}
                        <div class="d-flex align-items-center justify-content-between border-bottom border-light py-3">
                            <div>
                                <h6 class="mb-0">
                                    <span class="icon icon-xs mr-3"></span> <span class="opend-day">{{ hour }}</span>
                                </h6>
                                
                            </div>
                            <div>
                                <a href="#" class="text-primary font-weight-bold"> <span class="opend-time"><small></small>{% if hour.is_closed %}Closed{% else %}{{ hour.from_hour }} - {{ hour.to_hour }}{% endif %}</span>
                                </a>
                               
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
  </div>
</section>
</main>


{% endblock content %}


{%block footer%}

{% include '../includes/footer.html' %}
{% endblock footer%}