{% extends '../base.html' %}
{% load static %}
{% load humanize %}
{% block title %}About{% endblock title %}

 <!-- LOAD HEADER HERE -->
 {% block header %}

 {% include '../includes/header.html' %}

 {% endblock header %}

{% block content %}


<main>
    
    <section class="section-header pb-5 pb-lg-6 mb-4 mb-lg-6 bg-primary text-white">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 text-center mb-4 mb-lg-5">
                    
                     <h1 class="display-3 font-weight-extreme mb-4">{{laboratory.name}}</h1>
                    <div>
                    {% for animal in laboratory.animal_type.all%}
                    
                    <span class="badge badge-pill badge-secondary mt-3 p-2">{{animal}}</span>
                    {% endfor %}
                    </div>
                </div>
                
                <div class="col col-12 text-center">
                  <p> {{laboratory.description}} </p>
                </div>
              
            </div>
        </div>
       
    </section>
    
    <section class="section section-lg pt-5">
    <div class="container">
    <div class="row">
        <div class="col-12 col-xl-7 mb-4 ">
            <div class="row">
                <div class="col-12 mb-4">
                    <div class="card border-light shadow-sm">
                        <div class="card-body d-flex flex-row align-items-center flex-0 border-bottom">
                            <div class="d-block">
                                <div class="h6 font-weight-normal text-gray mb-2">Branches</div>
                                {% comment %}
                                 <h2 class="h3">10,567</h2>
                                 <div class="small mt-2"><span class="fas fa-angle-up text-success"></span> <span class="text-success font-weight-bold">$10.57%</span></div>
                                 {% endcomment %}
                            </div>
                        </div>
                        
                        <div class="row">
                        
                            {% for branch in laboratory.branches.all %} 
                            <div class="col-12 mb-4">
                                <div class="card bg-white">
                                    <div class="card-body p-3 p-lg-4">
                                        <div class="row">
                                            <div class="col-12 col-md-6 mb-3 mb-lg-0">
                                                <h6 class="mb-2">{{branch.state}} State</h6>
                                                <p class="text-gray mb-2">{{branch.address}}</p>
                                                <p class="text-gray mb-2">{{branch.city}}</p>
                                                <div class="d-flex">
                                                    <a href="#" class="stretched-link"><i class="fas fa-phone"></i><span class="h6 text-sm ml-2">{{branch.phone_number}}</span></a>
                                                </div>
                                            </div>
                                        
                                            {% comment %} <div class="col-12 col-md-6 d-flex align-items-center justify-content-md-end" id="consultationItem">
                                                <a href="#" class="mr-3 animate-up-2 m-0 btn btn-secondary mr-3 btn-sm decrease_cart" data-id="{{ item.consultationitem.id }}" data-url="{% url 'decrease_cart' item.id %}"><i class="fa fa-minus mr-1 "></i>Remove</a>
            
            
                                                 <a href="#" class=" animate-up-2 m-0 btn btn-primary mr-3 btn-sm add_to_cart" data-id="{{ item.consultationitem.id }}" data-url="{% url 'add_to_cart' item.id %}"><i class="fa fa-plus mr-1"></i>Add To cart</a>

                                            </div> {% endcomment %}

                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% empty%}
                            <div class="text-center p-5">
                                <h6>Sorry no branches!</h6>
                            </div>
                            {% endfor %}
                        </div>

                       
                    </div>
                </div>

            </div>
        </div>
        {% if laboratory.services %}
        <div class="col-12 col-xl-4 mb-4">
            <div class="col-12 px-0 mb-4">
                <div class="card border-light shadow-sm">
                    <div class="card-body">
                        <div class="d-block">
                            <div class="h6 font-weight-normal text-gray mb-2 border-bottom">Lab Services</div>
                            {% comment %}
                             <h2 class="h3">10,567</h2>
                             <div class="small mt-2"><span class="fas fa-angle-up text-success"></span> <span class="text-success font-weight-bold">$10.57%</span></div>
                             {% endcomment %}
                        </div>
                        {% for service in laboratory.services.all  %}
                        <div class="d-flex align-items-center justify-content-between border-bottom border-light py-3">
                            <div>
                                <h6 class="mb-0">
                                    <span class="icon icon-xs mr-3"></span> <span class="opend-day">{{ service }}</span>
                                </h6>
                                
                            </div>
                            {% comment %} <div>
                                <a href="#" class="text-primary font-weight-bold"> <span class="opend-time"><small></small>{% if hour.is_closed %}Closed{% else %}{{ hour.from_hour }} - {{ hour.to_hour }}{% endif %}</span>
                                </a>
                               
                            </div> {% endcomment %}
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
  </div>
</section>
</main>


{% endblock content %}


{%block footer%}

{% include '../includes/footer.html' %}
{% endblock footer%}